@page "/adults"
@using A1_DNP1Y.Data
@using global::Models
@inject IAdultService AdultService
@using A1_DNP1Y.Models
@using A1_DNP1Y.Persistence
@using Syncfusion.Blazor.DropDowns

@if (_adultsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <p>
        Filter by Name:
        <input type="text" @oninput="@((arg) => FilterByUserName(arg))"/>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>First Name</th> <th>Last Name</th> <th>Job Title</th> <th>Age</th> <th>Sex</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _adultsToShow)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.JobTitle</td>
                <td>@item.Age</td>
                <td>@item.Sex</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IList<Adult> _adults;
    private IList<Adult> _adultsToShow;
    private string filterByName;

    protected override async Task OnInitializedAsync()
    {
        _adults = AdultService.GetAdults();
        _adultsToShow = _adults;
    }

    private void FilterByUserName(ChangeEventArgs changeEventArgs)
    {
        filterByName = null;
        try
        {
            filterByName = changeEventArgs.Value.ToString();
        }
        catch (Exception e)
        {
        }
        ExecuteFilter();
    }

    private void ExecuteFilter()
    {
        _adultsToShow = _adults.Where(t => t.FirstName.ToLower().Contains(filterByName.ToLower())).ToList();
    }

}